body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #23252c;
}

.App {
    max-width: 320px;
    margin: 0 auto;
    background-color: #1a1b21;
}

.main {
    text-align: center;
    margin-block-end: 20px;
}

.main__name {
    color: #ffffff;
    margin-block-end: 0px;
    font-size: 1.5rem;
}

.main__description {
    font-weight: 400;
    color: #f3bf99;
    font-size: 1rem;
    margin-block-start: 0.4rem;
}

.main__link {
    display: inline-block;
    color: #f5f5f5;
    font-size: 0.8rem;
    margin-block-end: 15px;
    text-decoration: none;
}

.main__link:visited {
    color: #5093e2;
}

.main__wrap {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 240px;
}

.main .sprite__icon {
    margin-inline-end: 8px;
}

.main__btn {
    border-radius: 6px;
    padding: 10px;
    min-width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

.main__btn--left {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #1e1f26;
}

.main__btn--right {
    background-color: #5093e2;
    color: #ffffff;
}

.content {
    padding: 0px 35px;
    color: #ffffff;
}

.content__header {
    font-size: 1rem;
    margin: 15px 0 6px;
}

.content__text {
    font-size: 0.8rem;
    margin-block-start: 0;
}

.footer__wrap {
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer {
    background-color: #161619;
    padding: 20px 15px;
    margin-block-start: 30px;
}

.footer .sprite__icon {
    cursor: pointer;
}

.footer .sprite__icon:hover {
    fill: #cacaca;
}
